<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
  	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<title>Inicio</title>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<ul>
		<li>
			<a class="active" href="/">Inicio</a>
		</li>
		<hr>Campus
			<li>
				<a href="/cadastroSolicitacao">Angicos</a>
			</li>
			<li>
				<a href="/cadastroSolicitacao">Caraúbas</a>
			</li>
			<li>
				<a href="/cadastroSolicitacao">Mossoró</a>
			</li>
			<li>
				<a href="/listaSolicitacoes">Pau dos Ferros</a>
			</li>
		<hr>Cursos
		
			<li>
				<a href="/">ADMINISTRAÇÃO</a>
			</li>
			    
			<li>
				<a href="/">ARQUITETURA E URBANISMO</a>
			</li>
			    
			<li>
				<a href="/">AGRONOMIA</a>
			</li>
			    
			<li>
				<a href="/">BIOTECNOLOGIA</a>
			</li>
			    
			<li>
				<a href="/">CIÊNCIA DA COMPUTAÇÃO</a>
			</li>
			    
			<li>
				<a href="/">CIÊNCIAS CONTÁBEIS</a>
			</li>
			    
			<li>
				<a href="/">COMPUTAÇÃO</a>
			</li>
			   
			<li>
				<a href="/"> COMPUTAÇÃO E INFORMÁTICA</a>
			</li>
			   
			<li>
				<a href="/"> DIREITO</a>
			</li>
			   
			<li>
				<a href="/"> ECOLOGIA</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA AGRÍCOLA E AMBIENTAL</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA AMBIENTAL E SANITÁRIA</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA CIVIL</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA DE COMPUTAÇÃO</a>
			</li>
			   
			<li>
				<a href="/"> ENGENHARIA DE ENERGIA</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA DE PETRÓLEO</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA DE PRODUÇÃO</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA DE SOFTWARE</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA ELÉTRICA</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA FLORESTAL</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA MECÂNICA</a>
			</li>
			    
			 <li>
				<a href="/">ENGENHARIA QUÍMICA</a>
			</li>
			    
			<li>
				<a href="/">ENGENHARIA DE PESCA</a>
			</li>
			    
			<li>
				<a href="/">FÍSICA</a>
			</li>
			    
			<li>
				<a href="/">INTERDISCIPLINAR EM CIÊNCIA E TECNOLOGIA</a>
			</li>
			    
			<li>
				<a href="/">INTERDISCIPLINAR EM TECNOLOGIA DA INFORMAÇÃO</a>
			</li>
			    
			<li>
				<a href="/">LETRAS/INGLÊS</a>
			</li>
			    
			<li>
				<a href="/">LETRAS/LIBRAS</a>
			</li>
			    
			<li>
				<a href="/">LETRAS/PORTUGUÊS</a>
			</li>
			    
			<li>
				<a href="/">MATEMÁTICA</a>
			</li>
			    
			<li>
				<a href="/">MEDICINA</a>
			</li>
			    
			<li>
				<a href="/">MEDICINA VETERINÁRIA</a>
			</li>
			    
			<li>
				<a href="/">PEDAGOGIA</a>
			</li>
			    
			<li>
				<a href="/">QUÍMICA</a>
			</li>
			    
			<li>
				<a href="/">SISTEMAS DE INFORMAÇÃO</a>
			</li>
			    
			<li>
				<a href="/">ZOOTECNIA</a>
			</li>
	</ul>
	
	<div style="margin-left:21%;padding:1px 16px;height:1000px;">
		<h1>Unikedin</h1>
		
		<h5>Uma das formas de começarmos e aumentarmos nosso networking é através da faculdade.
		Então partiu nos conectar e aumentar nosso Networking galera?</h5>
		<h5>Já deixei o meu cadatrado abaixo, me adicione ai</h5>
		
		 <table>
		 	<thead>
		    	<tr>
		      		<th>Nome</th>
		      		<th>Link</th>
		      		<th>Curso</th>
		      		<th>Campus</th>
		    	</tr>
		 	</thead>
		 	<tbody>
		    <tr>
		      <td>Lucas Queiroz</td>
		      <td>
		      	<a href="https://www.linkedin.com/in/lucas-queiroz-3b887818b/" target="_blank">https://www.linkedin.com/in/lucas-queiroz-3b887818b/</a>
		      </td>
		      <td>SISTEMAS DE INFORMAÇÃO</td>
		      <td>Angicos</td>
		    </tr>
		  </tbody>
		</table> 
		<br/>
		<a href="/cadastrarDadosPessoa">Fazer meu cadastro</a>
		<br/>
		<a href="/listaDadosPessoas">Ver dados já cadastrados</a>
	</div>
	
 	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
 	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>