<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmação</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="card-panel green white-text">
        <h3>Confirmação</h3>
        <p>Discente cadastrado(a) com sucesso!</p>
    </div>
    <!-- Importe os scripts do Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Redireciona para a tela de listagem após 5 segundos
        setTimeout(function() {
            window.location.href = '/listaDadosPessoas';
        }, 5000); // 3000 milissegundos = 5 segundos
    </script>
</body>
</html>
